<app-navbar></app-navbar>
<main class="container">
  <h1 class="text-center my-3">{{title}}</h1>
  <a routerLink="/maestros" class="btn btn-primary my-3">Volver</a>
  <ng-template ngFor let-error [ngForOf]="errores">
    <p class="alert alert-danger" role="alert">{{error}}</p>
  </ng-template>
  <form (ngSubmit)="onSubmit()" #formRegistro="ngForm">
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="text" [(ngModel)]="maestro.nombres" name="nombres" class="form-control" id="nombres">
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" [(ngModel)]="maestro.apellidos" name="apellidos" class="form-control" id="apellidos">
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Correo</label>
      <input type="email" [(ngModel)]="maestro.correo" name="correo" class="form-control" id="correo">
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="tel" [(ngModel)]="maestro.telefono" name="telefono" class="form-control" id="telefono">
    </div>
    <div class="mb-3">
      <label for="direccion" class="form-label">Direccion</label>
      <textarea [(ngModel)]="maestro.direccion" name="direccion" class="form-control" id="direccion"></textarea>
    </div>
    <div class="mb-3">
      <label for="codigo" class="form-label">Codigo</label>
      <input type="text" [(ngModel)]="maestro.codigo" name="codigo" class="form-control" id="codigo">
    </div>
    <div>
      <input type="submit" value="Guardar" class="btn btn-primary mb-3">
    </div>
  </form>
</main>
