<app-navbar></app-navbar>
<main class="container">
  <h1 class="text-center my-3">Pagina Principal</h1>
  <div class="row g-2">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comprar Licencias ({{licencias}})</h5>
          <p class="card-text">Compre licencias para crear maestros y estudiantes</p>
          <a routerLink="/institucion" class="btn btn-success">Comprar Licencias</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Crear Maestro</h5>
          <p class="card-text">Cree los facilitadores para las clases.</p>
          <a routerLink="/maestrosForm" class="btn btn-success">Crear Maestro</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear Clase</h5>
          <p class="card-text">Cree las aulas virtuales para impartir clases.</p>
          <a routerLink="/clasesForm" class="btn btn-success">Crear Clase</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear Estudiante</h5>
          <p class="card-text">Cree los estudiantes que tomaran las clases</p>
          <a routerLink="/estudiantesForm" class="btn btn-success">Crear Estudiante</a>
        </div>
      </div>
    </div>
  </div>
</main>
