<app-navbar-user-estudiante></app-navbar-user-estudiante>
<main class="container">
  <h1 class="text-center my-3">Tareas</h1>
  <div class="row g-3 mb-3">
    <ng-template ngFor let-tarea [ngForOf]="getSortedList()">
      <div class="col-4">
        <div class="card" [ngClass]="{'text-danger' : isValidDate(tarea.fechaEntrega)}">
          <div class="card-body">
            <h4 class="card-title">{{tarea.titulo}}</h4>
            <p style="margin-top: 16px;"><strong>Fecha Entrega: </strong>{{tarea.fechaEntrega}}</p>
            <p class="card-text">{{tarea.descripcion}}</p>
            <button [disabled]="isValidDate(tarea.fechaEntrega)" class="btn btn-primary">Entregar</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</main>
