<app-navbar-user-estudiante></app-navbar-user-estudiante>
<main class="container">
  <h1 class="text-center my-3">Tareas</h1>
  <div class="row g-3 mb-3">
    <ng-template ngFor let-tarea [ngForOf]="getSortedList()">
      <div class="col-4">
        <div class="card" [ngClass]="{'text-danger' : isValidDate(tarea.fechaEntrega)}">
          <div class="card-body">
            <h4 class="card-title">{{tarea.titulo}}</h4>
            <p style="margin-top: 16px;"><strong>Fecha Entrega: </strong>{{tarea.fechaEntrega}}</p>
            <p class="card-text"><strong>Valor:</strong> {{tarea.calificacion}}</p>
            <p class="card-text">{{tarea.descripcion}}</p>
            <button (click)="setModal(tarea.titulo, tarea.descripcion, tarea.id)" [disabled]="isValidDate(tarea.fechaEntrega)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregartarea">Entregar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" data-bs-backdrop="static" id="agregartarea" tabindex="-1" aria-labelledby="agregartarea" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for="formFile" class="form-label">{{descripcion}}</label>
              <input (change)="onFileSelected($event)" class="form-control" type="file">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" #cerrar data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="onSubmit()">Entregar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template [ngIf]="entregasBool">
    <h1 class="text-center my-3">Entregas</h1>
    <div class="row g-3 mb-3">
      <ng-template ngFor let-entrega [ngForOf]="entregas">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{entrega.tarea?.titulo}}</h4>
              <p><strong>Calificacion: </strong>{{entrega.calificacion}}/{{entrega.tarea?.calificacion}}</p>
              <div class="mt-2">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</main>
