<app-navbar-user-estudiante></app-navbar-user-estudiante>
<main class="container">
  <h1 class="text-center my-3">Entregas</h1>
  <div class="row g-3 mb-3">
    <ng-template ngFor let-entrega [ngForOf]="entregas">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{entrega.tarea?.titulo}}</h4>
            <p><strong>Calificacion: </strong>{{entrega.calificacion}}/{{entrega.tarea?.calificacion}}</p>
            <div class="mt-2">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</main>
